@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

:root {
    /*  fonts  */
    --font-bold: 'Gilroy-Bold', sans-serif;
    --font-heavy: 'Gilroy-Heavy', sans-serif;
    --font-light: 'Gilroy-Light', sans-serif;
    --font-medium: 'Gilroy-Medium', sans-serif;
    --font-regular: 'Gilroy-Regular', sans-serif;

    /*  colors */
    --bg-color-light: #5D5F73;
    --bg-color-dark: #2F2F3D;
    --yellow-light: #FDC624;
    --yellow-dark: #EDB718;
    --teal-light: #55DCE7;
    --teal-dark: #3DCAD4;
    --blue-light: #6BDFFF;
    --blue-dark: #3DACFC;
    --grey-light: #BFCEDC;
    --grey-dark: #939FB3;
    --white: #FFFFFF;
    
    /*  gradients  */
    --bg-teal: linear-gradient(0deg, var(--teal-light), var(--teal-dark));
    --bg-dark: linear-gradient(135deg, var(--bg-color-dark), var(--bg-color-light));
    --bg-yellow: linear-gradient(0deg, var(--yellow-dark), var(--yellow-light));
    --bg-blue: linear-gradient(0deg, var(--blue-dark), var(--blue-light));
    --bg-grey: linear-gradient(0deg, var(--grey-dark), var(--grey-light));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-regular);
    letter-spacing: .05rem;
    font-size: 16px;
}

.content_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 5rem 2rem; */
    color: var(--white);
    background: var(--bg-dark);
    > h1, > h4 {
        color: var(--white);
        text-align: center;
        letter-spacing: .1rem;
    }
     > h1 {
        font-size: 3rem;
        letter-spacing: .1rem;
        font-family: var(--font-heavy);
        margin-bottom: .5rem;
    }
    > h4 {
        font-size: 1.6rem;
        font-family: var(--font-regular);
        font-weight: normal;
        margin-bottom: 2rem;
    }
}

.pricing_table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.pricing_card {
    position: relative;
    width: 16rem;
    max-width: 16rem;
    min-height: 36rem;
    margin: .3rem .3rem;
    padding: 4rem 1.5rem 1.5rem 1.5rem;
    border-radius: .2rem;
    display: flex;
    flex-direction: column;
    &:nth-of-type(1) {
        background: var(--bg-yellow);
    }
    &:nth-of-type(2) {
        background: var(--bg-teal);
    }
    &:nth-of-type(3) {
        background: var(--bg-blue);
    }
    &:nth-of-type(4) {
        background: var(--bg-grey);
    }
}

.card_badge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: var(--font-bold);
    text-align: center;
    color: var(--white);
    background-color: rgba(61, 172, 252, 0.3);
    & img {
        padding-right: .3rem;
    }
}

.card_image_wrapper {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card_image_wrapper img {
    display: block;
    height: 7rem;
    object-fit: cover;
}

.card_title {
    font-size: 1.5rem;
    font-family: var(--font-bold);
    color: var(--white);
    text-align: left;
    margin: 1.3rem 0 0 0;
}

.card_subtitle {
    font-size: .76rem;
    font-family: var(--font-light);
    font-weight: normal;
    color: var(--white);
    text-align: left;
    margin: 0;
}

.price {
    position: relative;
    font-size: 4rem;
    font-family: var(--font-bold);
    color: var(--white);
    text-align: left;
    margin: 1.3rem 0 0 0;
    padding: 0 0 0 1.3rem;
}

.price::after {
    content: "$";
    display: block;
    position: absolute;
    font-size: 1.3rem;
    top: .5rem;
    left: 0;
}

.feature_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1.3rem 0 0 0;
    list-style: none;
    padding: 0 0 0 1.3rem;
    margin: 0;
}

.feature_list_item {
    position: relative;
    font-size: .8rem;
    font-family: var(--font-regular);
    color: var(--white);
    text-align: left;
    margin: 1rem 0 0 0;
}

.feature_list_item::before {
    content: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.08211 8.13804C3.16306 8.21899 3.27288 8.26445 3.38735 8.26445C3.50186 8.26445 3.61164 8.21896 3.69256 8.13804L9.57737 2.25323C9.65834 2.17228 9.70381 2.0625 9.70381 1.94802C9.70381 1.83352 9.65834 1.72373 9.57737 1.64278L8.35645 0.421892C8.1879 0.253345 7.91457 0.253317 7.746 0.421892L3.38747 4.78048L2.16652 3.55953C2.08557 3.47858 1.97575 3.43309 1.86128 3.43309C1.74681 3.43309 1.63702 3.47858 1.55607 3.55953L0.33515 4.78045C0.166604 4.94903 0.166604 5.22232 0.33515 5.3909L3.08211 8.13804Z' fill='white'/%3E%3C/svg%3E");
    /*"✓"*/
    position: absolute;
    top: 0;
    left: -1.3rem;
}

.button_outline {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 100%;
    height: 2.5rem;
    margin-top: auto;
    padding: .3rem .7rem;
    border-radius: .2rem;
    background: transparent;
    border: .1rem solid var(--white);
    color: var(--white);
    font-size: 1rem;
    font-family: var(--font-medium);
    text-align: center;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.button_outline:hover {
    background: var(--white);
    :nth-of-type(1) & {
        color: var(--yellow-dark);
    }   
    :nth-of-type(2) & {
        color: var(--teal-dark);
    }   
    :nth-of-type(3) & {
        color: var(--blue-dark);
    }   
    :nth-of-type(4) & {
        color: var(--grey-dark);
    }   
}

